<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10;url=http://127.0.0.1:3000/profile" /> <!-- Redirige a la página principal después de 10 segundos -->
    <link rel="stylesheet" type="text/css" href="/style/style.css"/>
    <title>Gracias por tu compra</title>
</head>
<body>
<div class="ok">
    <h1>¡Gracias por tu compra!</h1>
    <p>En breve serás redirigido a la página principal.</p>
    <p>Se envio los datos de tu compra por correo y una notificacion a tu numero de whatsapp</p>
</div>
</body>
</html>